<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <style>
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-color: rgba(21, 101, 192,1);
                color: rgba(227, 242, 253, 1);
            }
            
            a {
                color: rgba(227, 242, 253, 1);
            }
        </style>
    </head>
    <body>
        <h1>About me:</h1>
        <p>My name is Thanh Pham.</p>
        <p>My student number is : A01028828.</p>
        <hr>
        {{> menuAbout}}
        <hr>
        {{> footer}}
    </body>
</html>