<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <style>
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-color: rgba(21, 101, 192,1);
                background-image: url({{background}});
                background-size: cover;
                color: rgba(227, 242, 253, 1);
            }

            a {
                color: rgba(227, 242, 253, 1);
            }
        </style>
    </head>
    <body>
        <h1>Weather in London:</h1>
        <p>Right now in London, it's {{status}} with a temperature of {{temp}}°F.</p>
        <hr>
        {{> menuWeather}}
        <hr>
        {{> footer}}
    </body>
</html>